.navbar{
    background-color: #333745 !important;
    /* color: #E63462; */
}
input{
    width: 100%;
    text-align: center;
}

body{
    background-color: #C2EFB3;
/* font-family: Arial, sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer{
    background-color: #333745;
    color: #C2EFB3;
}
.nav-link{
    color: #C2EFB3; 
}


.btn{
    color: rgb(47, 57, 255);
}

.lead,
.landing-heading{
    color: #333745;
}