{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block content %}
<section class="min-vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body p-4 p-md-4 text-center">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid mb-4" style="max-height: 100px;">

            <h5 class="fw-normal mb-4">Sign into your account</h5>

            <form method="post" action="">
              {% csrf_token %}
              <div class="mb-4">
                <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Username">
              </div>

              <div class="mb-4">
                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password">
              </div>

              <button type="submit" class="btn btn-warning btn-lg btn-block">Login</button>

              {% for message in messages %}
                <p class="mt-3 mb-0 text-success">{{ message }}</p>
              {% endfor %}

              <div class="mt-4">
                <a class="small text-muted" href="#!">Forgot password?</a>
              </div>

              <p class="mt-3 mb-0 text-muted">Don't have an account? <a href="{% url "register" %}" class="text-dark">Register here</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
